*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  /* las medidas relativas sean iguales a las medidas en pixeles -- 10px=1em/1rem */ }

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #030b15;
  min-height: 100vh; }

ul {
  list-style-type: none;
  padding: 0; }

#presentacion {
  background-color: #030b15;
  position: absolute;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  animation: carga ease-in-out 4.7s;
  animation-fill-mode: forwards; }
  #presentacion img {
    height: 8em;
    margin: auto;
    display: block;
    animation-name: parpadeo;
    animation-duration: 4s;
    animation-delay: .5s;
    animation-iteration-count: initial; }

#presentacion h1 {
  text-align: center;
  padding-top: 350px;
  color: #9ffcfd;
  font-family: "Nunito", serif;
  font-weight: 700;
  font-size: 3em;
  margin: 0px 25px 0px 25px; }

.header {
  background-color: #030b15;
  z-index: 1;
  box-shadow: 0em .3em 1em #00ffff80;
  height: 7em;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; }
  .header .contenedor_menu_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto; }
    .header .contenedor_menu_header #logo {
      line-height: 7em; }
      .header .contenedor_menu_header #logo .logo img {
        height: 6em;
        animation-name: aparecer;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-delay: 1s;
        transition: ease-in-out; }
        .header .contenedor_menu_header #logo .logo img:hover {
          animation-iteration-count: unset; }
    .header .contenedor_menu_header #navbar .nav {
      display: flex; }
      .header .contenedor_menu_header #navbar .nav-link {
        color: #00ffff;
        font-family: "Nunito", serif;
        font-weight: 700;
        font-size: 1.8em;
        text-decoration: none;
        line-height: 3em;
        opacity: 30%;
        transition: 1s; }
        .header .contenedor_menu_header #navbar .nav-link .user {
          width: auto;
          height: 3em; }
        .header .contenedor_menu_header #navbar .nav-link:hover {
          opacity: 100%;
          text-shadow: 0.2em 0.2em 0.5em #00ffff; }
      .header .contenedor_menu_header #navbar .nav-menu {
        display: flex;
        flex-direction: row;
        margin-bottom: 0; }
        .header .contenedor_menu_header #navbar .nav-menu-item {
          margin: 0 1em; }
      .header .contenedor_menu_header #navbar .nav-toggle {
        background: none;
        border: none;
        display: none;
        cursor: pointer; }
        .header .contenedor_menu_header #navbar .nav-toggle .btn_menu {
          height: 4em;
          width: auto; }

/*responsive 780*/
@media screen and (max-width: 780px) {
  .header {
    height: 6em; }
    .header .contenedor_menu_header #logo {
      line-height: 6em; }
      .header .contenedor_menu_header #logo .logo img {
        height: 5em; }
    .header .contenedor_menu_header #navbar .nav-link {
      font-size: 2em;
      opacity: 70%; }
      .header .contenedor_menu_header #navbar .nav-link .user {
        width: auto;
        height: 4em; }
      .header .contenedor_menu_header #navbar .nav-link:hover {
        opacity: 100%; }
    .header .contenedor_menu_header #navbar .nav-menu {
      display: flex;
      flex-direction: column;
      margin-right: 2em;
      position: fixed;
      top: 6em;
      left: 0;
      width: 100%;
      align-items: center;
      padding: 2em 0;
      background-color: #030b159a;
      height: calc(100% - 6em);
      overflow-y: auto;
      left: 150%;
      transition: left .6s; }
      .header .contenedor_menu_header #navbar .nav-menu-item {
        margin: 1em auto; }
    .header .contenedor_menu_header #navbar .nav-toggle {
      display: block; }
    .header .contenedor_menu_header #navbar .nav .nav-menu_visible {
      left: 0%; } }

#home {
  background-image: url(../public/backgrounds/gareth_david_desktop_neon_cian.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 6.5em;
  padding-bottom: 6.5em; }
  #home .hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: auto; }
    #home .hero_imagen {
      margin-bottom: 0; }
      #home .hero_imagen img {
        height: 60em; }
    #home .hero_data {
      width: 45em; }
      #home .hero_data h2 {
        font-family: "Nunito", serif;
        font-size: 4.5em;
        font-weight: 700;
        color: #9ffcfd;
        margin-bottom: .2em; }
        #home .hero_data h2 em {
          font-weight: 900;
          font-style: normal;
          text-transform: uppercase; }
      #home .hero_data h4 {
        font-family: "Nunito", serif;
        font-size: 1.8em;
        font-weight: 400;
        color: #00ffff;
        margin-bottom: 2em; }
        #home .hero_data h4 em {
          font-weight: 800;
          font-style: normal; }
      #home .hero_data .botones {
        text-decoration: none;
        text-align: center;
        width: 8em;
        display: block;
        color: #fdf46e;
        font-family: "Nunito", serif;
        font-size: 2em;
        font-weight: 700;
        background-color: #030b15;
        border-radius: 1em;
        padding: .2em .5em;
        border: 0.2em outset #fdf46e;
        transition: .8s; }
        #home .hero_data .botones:hover {
          box-shadow: 0em 0em 0.5em #00ffff; }

/*RESPONSIVE 1080*/
@media screen and (max-width: 1080px) {
  #home .hero .hero_imagen img {
    height: 50em; }
  #home .hero .hero_data {
    width: 35em; }
    #home .hero .hero_data h2 {
      font-size: 3.5em; }
    #home .hero .hero_data h4 {
      font-size: 1.4em; }
    #home .hero .hero_data .botones {
      font-size: 1.8em; } }

/*RESPONSIVE 980*/
@media screen and (max-width: 980px) {
  #home .hero .hero_imagen img {
    height: 40em; }
  #home .hero .hero_data {
    width: 30em; }
    #home .hero .hero_data h2 {
      font-size: 3em; }
    #home .hero .hero_data h4 {
      font-size: 1.2em; }
    #home .hero .hero_data .botones {
      font-size: 1.4em; } }

/*RESPONSIVE 702*/
@media screen and (max-width: 702px) {
  #home {
    background-image: url(../public/backgrounds/gareth_david_mobile_neon_cian.jpg); }
  #home .hero .hero_imagen img {
    height: 40em; }
  #home .hero .hero_data {
    width: 30em;
    padding-bottom: 1.5em; }
    #home .hero .hero_data h2 {
      font-size: 3em;
      text-align: center; }
    #home .hero .hero_data h4 {
      font-size: 1.2em;
      text-align: center;
      margin-bottom: 1.5em; }
    #home .hero .hero_data .botones {
      text-align: center;
      margin: auto;
      font-size: 1.6em; } }

/*RESPONSIVE 420*/
@media screen and (max-width: 420px) {
  #home {
    background-image: url(../public/backgrounds/gareth_david_mobile_neon_cian.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
    #home .hero .hero_imagen img {
      height: 30em; } }

#envio {
  background-image: url(../public/backgrounds/gareth_david_desktop_neon_cianviolet.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  #envio h3 {
    font-family: "Nunito", serif;
    color: #fdf46e;
    font-size: 2.5em;
    padding-top: .5em;
    font-weight: 700;
    text-align: center; }
  #envio article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1em;
    margin: auto;
    max-width: 1200px; }
    #envio article .card_envio picture img {
      width: 25em; }
    #envio article .card_envio picture .truck {
      animation-name: truck;
      animation-duration: 1.5s;
      animation-iteration-count: infinite; }
    #envio article .card_envio picture .openBox {
      animation-name: rotateBox;
      animation-duration: 3s;
      animation-iteration-count: infinite; }
    #envio article .card_envio_descripcion {
      color: #ffffff;
      font-family: "Nunito", serif;
      font-size: 1.8em;
      font-weight: 600;
      text-align: center;
      width: 10em;
      margin: auto; }

#birras {
  background-image: url(../public/backgrounds/gareth_david_desktop_neon_violet.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  #birras article {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto; }
    #birras article div:first-child {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      #birras article div:first-child picture img {
        height: 20em;
        animation-name: aparecer;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        transition: ease-in;
        animation-delay: 1s; }
    #birras article div:last-child ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 0; }
      #birras article div:last-child ul li picture img {
        height: 40em;
        transition: 1s;
        opacity: 60%;
        filter: blur(1px); }
        #birras article div:last-child ul li picture img:hover {
          transform: scale(130%) translate(0%, -10%);
          opacity: 100%;
          filter: blur(0px); }

/*RESPONSIVE 1080*/
@media screen and (max-width: 1080px) {
  #envio article .card_envio picture img {
    width: 20em; }
  #envio article .card_envio_descripcion {
    font-size: 1.6em; }
  #birras article div:first-child picture img {
    height: 20em; }
  #birras article div:last-child ul li picture img {
    height: 35em; } }

/*RESPONSIVE 980*/
@media screen and (max-width: 980px) {
  #birras article div:last-child ul li picture img {
    height: 30em; } }

/*RESPONSIVE 702*/
@media screen and (max-width: 702px) {
  #envio {
    background-image: url(../public/backgrounds/gareth_david_mobile_neon_cianviolet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    #envio article .card_envio picture img {
      width: 17em; }
    #envio article .card_envio_descripcion {
      font-size: 1.4em; }
  #birras {
    background-image: url(../public/backgrounds/gareth_david_mobile_neon_violet.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
    #birras article div:first-child picture img {
      height: 10em; }
    #birras article div:last-child ul {
      overflow-x: scroll;
      overflow-y: hidden;
      justify-content: flex-start; }
      #birras article div:last-child ul li picture img {
        height: 24em; }
        #birras article div:last-child ul li picture img:hover {
          transform: scale(105%); } }

/*RESPONSIVE 420*/
@media screen and (max-width: 420px) {
  #envio {
    background-image: url(../public/backgrounds/gareth_david_mobile_neon_cianviolet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left; }
    #envio h3 {
      padding-top: 2em;
      font-size: 1.8em; }
    #envio article .card_envio picture img {
      width: 17em; }
    #envio article .card_envio_descripcion {
      font-size: 1.4em; }
  #birras {
    background-image: url(../public/backgrounds/gareth_david_mobile_neon_violet.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
    #birras article div:first-child picture img {
      height: 10em; }
    #birras article div:last-child ul {
      overflow-x: scroll;
      justify-content: flex-start;
      padding-left: 10em; }
      #birras article div:last-child ul li picture img {
        height: 25em; }
        #birras article div:last-child ul li picture img:hover {
          transform: scale(110%) translate(0%, 1%); } }

#marcas .marcas_contenedor ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0;
  padding: .5em 0; }
  #marcas .marcas_contenedor ul .marcas_logos a .marcas_logos_imagen {
    height: 5em;
    padding: .8em; }

@media screen and (max-width: 702px) {
  #marcas .marcas_contenedor ul .marcas_logos a .marcas_logos_imagen {
    height: 4em;
    padding: 0.8em; } }

@media screen and (max-width: 420px) {
  #marcas .marcas_contenedor ul .marcas_logos a .marcas_logos_imagen {
    height: 3em;
    padding: 0.5em; } }

#suscripciones {
  background-image: url(../public/backgrounds/gareth_david_desktop_neon_violet.jpg);
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  padding-top: 6.5em;
  padding-bottom: 6.5em; }
  #suscripciones h2 {
    color: #00ffff;
    font-family: "Nunito", serif;
    font-weight: 700;
    font-size: 3em;
    margin: auto auto 1em auto;
    text-align: center;
    padding: .5em; }
  #suscripciones article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    max-width: 1200px; }
    #suscripciones article .card_suscripcion {
      background-color: #030b15;
      border-radius: 2em;
      border: 0.2em solid #00ffff;
      box-shadow: 0 0 2em #00ffff;
      display: flex;
      flex-direction: column;
      margin: auto;
      transition: ease-in-out 1s;
      width: 27em;
      height: 52em; }
      #suscripciones article .card_suscripcion figure img {
        height: 25em;
        margin: auto;
        display: block; }
      #suscripciones article .card_suscripcion article {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto; }
        #suscripciones article .card_suscripcion article h4 {
          font-family: "Nunito", serif;
          font-weight: 800;
          font-size: 3em;
          color: #00ffff;
          text-align: center; }
        #suscripciones article .card_suscripcion article .descripcion {
          color: #ffffff;
          font-family: "Nunito", serif;
          font-weight: 500;
          font-style: normal;
          font-size: 1.5em;
          text-align: center; }
        #suscripciones article .card_suscripcion article .precio {
          color: #fdf46e;
          font-family: "Nunito", serif;
          font-weight: 400;
          font-style: normal;
          font-size: 4em;
          text-align: center;
          margin-bottom: 0; }
        #suscripciones article .card_suscripcion article .botones {
          text-decoration: none;
          text-align: center;
          width: 8em;
          display: block;
          color: #fdf46e;
          font-family: "Nunito", serif;
          font-size: 1.7em;
          font-weight: 700;
          background-color: #030b15;
          border-radius: 1em;
          padding: .2em .5em;
          border: 0.2em outset #fdf46e;
          transition: .8s;
          margin: .5em; }
          #suscripciones article .card_suscripcion article .botones:hover {
            box-shadow: 0em 0em 0.5em #00ffff; }
        #suscripciones article .card_suscripcion article > a {
          color: #ffffff;
          font-family: "Nunito", serif;
          font-weight: 400;
          font-size: 1.6em;
          margin: .6em auto 1em auto; }
      #suscripciones article .card_suscripcion:hover {
        transform: translateY(-5%); }

/*RESPONSIVE 1080*/
@media screen and (max-width: 1080px) {
  #suscripciones h2 {
    margin: auto auto 1.5em auto; }
  #suscripciones article .card_suscripcion {
    width: 25em;
    height: 50em; } }

/*RESPONSIVE 980*/
@media screen and (max-width: 980px) {
  #suscripcion {
    background-image: url(../public/backgrounds/gareth_david_desktop_neon_violet.jpg);
    background-size: contain;
    background-repeat: repeat; }
  article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    max-width: 1200px; }
    article .card_suscripcion {
      background-color: #030b15;
      border-radius: 2em;
      border: 0.2em solid #00ffff;
      box-shadow: 0 0 2em #00ffff;
      display: flex;
      flex-direction: column;
      margin: auto;
      transition: ease-in-out 1s;
      width: 27em;
      height: 52em; }
      article .card_suscripcion figure img {
        height: 25em;
        margin: auto;
        display: block; }
      article .card_suscripcion article {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto; }
        article .card_suscripcion article h4 {
          font-family: "Nunito", serif;
          font-weight: 800;
          font-size: 3em;
          color: #00ffff;
          text-align: center; }
        article .card_suscripcion article .descripcion {
          color: #ffffff;
          font-family: "Nunito", serif;
          font-weight: 500;
          font-style: normal;
          font-size: 1.5em;
          text-align: center; }
        article .card_suscripcion article .precio {
          color: #fdf46e;
          font-family: "Nunito", serif;
          font-weight: 400;
          font-style: normal;
          font-size: 4em;
          text-align: center;
          margin-bottom: 0; }
        article .card_suscripcion article .botones {
          text-decoration: none;
          text-align: center;
          width: 8em;
          display: block;
          color: #fdf46e;
          font-family: "Nunito", serif;
          font-size: 1.7em;
          font-weight: 700;
          background-color: #030b15;
          border-radius: 1em;
          padding: .2em .5em;
          border: 0.2em outset #fdf46e;
          transition: .8s;
          margin: .5em; }
          article .card_suscripcion article .botones:hover {
            box-shadow: 0em 0em 0.5em #00ffff; } }

/*RESPONSIVE 702*/
@media screen and (max-width: 720px) {
  #suscripciones {
    background-image: url(../public/backgrounds/gareth_david_mobile_neon_violet.jpg);
    background-repeat: repeat;
    background-size: contain; } }

#nosotros {
  background-image: url(../public/backgrounds/gareth_david_desktop_neon_violetcian.jpg);
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  padding-top: 6.5em;
  padding-bottom: 6.5em; }
  #nosotros h2 {
    color: #00ffff;
    font-family: "Nunito", serif;
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    margin: auto auto 1em auto;
    padding-top: 2em;
    padding: .5em; }
  #nosotros .contenedor_fundadores {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 1200px; }
    #nosotros .contenedor_fundadores figure {
      box-shadow: 0em 0.1em 0.5em #00ffff;
      width: 60%; }
      #nosotros .contenedor_fundadores figure img {
        width: 100%; }
    #nosotros .contenedor_fundadores div {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      max-width: 80em; }
      #nosotros .contenedor_fundadores div img {
        width: 25em; }
      #nosotros .contenedor_fundadores div .texto_fundadores {
        display: flex;
        flex-direction: column;
        align-items: flex-start; }
        #nosotros .contenedor_fundadores div .texto_fundadores p {
          text-align: left;
          font-family: "Nunito", serif;
          font-size: 1.6em;
          font-weight: 300;
          color: #ffffff;
          width: 30em; }
          #nosotros .contenedor_fundadores div .texto_fundadores p > a {
            color: #ff614d;
            font-weight: 500; }
        #nosotros .contenedor_fundadores div .texto_fundadores .botones {
          text-decoration: none;
          text-align: center;
          width: 8em;
          display: block;
          color: #fdf46e;
          font-family: "Nunito", serif;
          font-size: 1.7em;
          font-weight: 700;
          background-color: #030b15;
          border-radius: 1em;
          padding: .2em .5em;
          border: 0.2em outset #fdf46e;
          transition: .8s;
          margin: .5em; }
          #nosotros .contenedor_fundadores div .texto_fundadores .botones:hover {
            box-shadow: 0em 0em 0.5em #00ffff; }

#comunidad {
  background-image: url(../public/backgrounds/gareth_david_desktop_neon_cianorange.jpg);
  background-repeat: repeat;
  background-size: contain; }
  #comunidad h3 {
    font-family: "Nunito", serif;
    color: #fdf46e;
    font-size: 2.5em;
    padding-top: .5em;
    font-weight: 700;
    text-align: center; }
  #comunidad h4 {
    color: #ffffff;
    text-align: center;
    font-family: "Nunito", serif;
    font-size: 1.8em;
    font-weight: 400; }
    #comunidad h4 a {
      color: #00ffff;
      font-weight: 600;
      font-size: 1.8rem;
      font-family: "Nunito", serif; }
  #comunidad .carrousel {
    width: 60%;
    height: 55em;
    max-width: 120em;
    margin: auto;
    overflow-x: hidden; }
    #comunidad .carrousel .grande {
      width: 300%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      padding-top: 1em;
      transition: all .5s ease;
      transform: translateX(0%); }
      #comunidad .carrousel .grande .img {
        width: calc( 100% / 3);
        min-height: 25em;
        height: 44em;
        margin: .5em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        #comunidad .carrousel .grande .img:first-child > a img {
          width: 25.5em; }
        #comunidad .carrousel .grande .img:last-child a img {
          width: 20em;
          height: auto; }
        #comunidad .carrousel .grande .img > div {
          display: flex;
          flex-direction: column; }
        #comunidad .carrousel .grande .img a {
          text-decoration: none;
          margin: 0;
          text-align: center; }
          #comunidad .carrousel .grande .img a img {
            width: 25em;
            margin: .5em;
            padding: 2em .5em;
            background-color: #ffffff;
            border-radius: .8em;
            transition: 1s; }
            #comunidad .carrousel .grande .img a img:hover {
              box-shadow: 0em 0em 0.3em #00ffff;
              transform: scale(115%); }
    #comunidad .carrousel .puntos {
      width: 100%;
      padding: 0em;
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center; }
      #comunidad .carrousel .puntos .punto {
        background-color: #030b15;
        height: 1.8em;
        width: 1.8em;
        margin: 1em;
        border-radius: 100%; }
        #comunidad .carrousel .puntos .punto.activo {
          background-color: #fdf46e;
          box-shadow: 0em 0em 0.5em #00ffff; }

@media screen and (max-width: 780px) {
  #nosotros {
    background-image: url(../public/backgrounds/gareth_david_mobile_neon_violetcian.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center; }
    #nosotros h2 {
      color: #00ffff;
      font-family: "Nunito", serif;
      font-size: 3em;
      font-weight: 700;
      text-align: center;
      margin: auto auto 1em auto;
      padding-top: 2em;
      padding: .5em; }
    #nosotros .contenedor_fundadores {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      max-width: 1200px; }
      #nosotros .contenedor_fundadores figure {
        box-shadow: 0em 0.1em 0.5em #00ffff;
        width: 40em; }
        #nosotros .contenedor_fundadores figure img {
          width: 40em; }
      #nosotros .contenedor_fundadores div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 80em; }
        #nosotros .contenedor_fundadores div img {
          width: 25em; }
        #nosotros .contenedor_fundadores div .texto_fundadores {
          display: flex;
          flex-direction: column;
          align-items: center; }
          #nosotros .contenedor_fundadores div .texto_fundadores p {
            text-align: center;
            font-family: "Nunito", serif;
            font-size: 1.6em;
            font-weight: 300;
            color: #ffffff;
            width: 30em; }
            #nosotros .contenedor_fundadores div .texto_fundadores p > a {
              color: #ff614d;
              font-weight: 500; }
          #nosotros .contenedor_fundadores div .texto_fundadores .botones {
            text-decoration: none;
            text-align: center;
            width: 8em;
            display: block;
            color: #fdf46e;
            font-family: "Nunito", serif;
            font-size: 1.7em;
            font-weight: 700;
            background-color: #030b15;
            border-radius: 1em;
            padding: .2em .5em;
            border: 0.2em outset #fdf46e;
            transition: .8s;
            margin: .5em; }
            #nosotros .contenedor_fundadores div .texto_fundadores .botones:hover {
              box-shadow: 0em 0em 0.5em #00ffff; }
  #comunidad {
    background-image: url(../public/backgrounds/gareth_david_mobile_neon_cianorange.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center; } }

#contacto {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-image: url(../public/backgrounds/gareth_david_desktop_neon_orange.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 6.5em;
  padding-bottom: 3.5em; }
  #contacto h2 {
    color: #00ffff;
    font-family: "Nunito", serif;
    font-weight: 700;
    font-size: 3em;
    margin: auto auto 1em auto;
    text-align: center;
    padding: .5em; }
  #contacto .imgform {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    max-width: 1200px; }
    #contacto .imgform picture img {
      height: 45em; }
    #contacto .imgform form {
      width: 40em;
      background-color: #030b15;
      border-radius: 1em;
      box-shadow: 0em 0em 2em #00ffff;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      padding: 4em 3em; }
      #contacto .imgform form .form-row {
        margin: auto; }
      #contacto .imgform form .form-group {
        width: 30em;
        margin: auto; }
        #contacto .imgform form .form-group .form-check {
          margin: auto; }
          #contacto .imgform form .form-group .form-check > label {
            font-family: "Nunito", serif;
            font-size: 1em;
            color: #ffffff;
            font-weight: 400; }
      #contacto .imgform form .form-group > label {
        font-family: "Nunito", serif;
        color: #fdf46e;
        font-weight: 400;
        font-size: 1.4em; }
      #contacto .imgform form .form-control {
        display: block;
        width: 100%;
        padding: 0.3rem 0.7rem;
        font-family: #00ffff;
        font-style: italic;
        font-size: 1.2em;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 1em;
        color: #030b15;
        background-color: #ffffff;
        border: 1px solid #00ffff;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.3rem;
        transition: border-color .5s ease-in-out,box-shadow .15s ease-in-out; }
      #contacto .imgform form .botones {
        text-decoration: none;
        text-align: center;
        width: 8em;
        display: block;
        color: #fdf46e;
        font-family: "Nunito", serif;
        font-size: 1.7em;
        font-weight: 700;
        background-color: #030b15;
        border-radius: 1em;
        padding: .2em .5em;
        border: 0.2em outset #fdf46e;
        transition: .8s;
        margin: auto; }
        #contacto .imgform form .botones:hover {
          box-shadow: 0em 0em 0.5em #00ffff; }

@media screen and (max-width: 980px) {
  #contacto .imgform picture img {
    height: 30em; }
  #contacto .imgform form {
    width: 25em; }
  #contacto .imgform form .form-control {
    width: 15em; } }

@media screen and (max-width: 702px) {
  #contacto {
    background-image: url(../public/backgrounds/gareth_david_mobile_neon_orange.jpg); }
    #contacto .imgform {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly; }
      #contacto .imgform picture img {
        display: none; } }

@media screen and (max-width: 420px) {
  .imgform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
    .imgform picture img {
      display: none; } }

.hero .data_detalle_hero {
  width: 45em; }
  .hero .data_detalle_hero h2 {
    font-family: "Nunito", serif;
    font-size: 4.5em;
    font-weight: 900;
    color: #ff614d;
    margin-bottom: .2em; }
  .hero .data_detalle_hero h4 {
    font-family: "Nunito", serif;
    font-size: 3.5em;
    font-weight: 400;
    color: #00ffff;
    margin-bottom: .5em;
    width: 8em; }
  .hero .data_detalle_hero p {
    color: #ffffff;
    font-size: 1.8em;
    font-family: "Nunito", serif;
    font-weight: 400; }
  .hero .data_detalle_hero > ul {
    list-style: disc; }
    .hero .data_detalle_hero > ul li {
      color: #ffffff;
      font-size: 1.2em;
      font-family: "Nunito", serif;
      font-weight: 400;
      margin-left: 1em; }
  .hero .data_detalle_hero .botones {
    text-decoration: none;
    text-align: center;
    width: 8em;
    display: block;
    color: #fdf46e;
    font-family: "Nunito", serif;
    font-size: 2em;
    font-weight: 700;
    background-color: #030b15;
    border-radius: 1em;
    padding: .2em .5em;
    border: 0.2em outset #fdf46e;
    transition: .8s; }
    .hero .data_detalle_hero .botones:hover {
      box-shadow: 0em 0em 0.5em #00ffff; }

#detalleBox {
  background-image: url(../public/backgrounds/gareth_david_desktop_neon_violet.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly; }
  #detalleBox h3 {
    font-family: "Nunito", serif;
    color: #fdf46e;
    font-size: 2.5em;
    padding-top: 2em;
    font-weight: 700;
    text-align: center; }
  #detalleBox figure img {
    width: 60em; }
  #detalleBox .birraData {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 900px; }
    #detalleBox .birraData figure img {
      height: 40em;
      width: auto; }
    #detalleBox .birraData_info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      width: 50em;
      max-width: 50em; }
      #detalleBox .birraData_info h4 {
        font-family: "Nunito", serif;
        font-size: 3em;
        font-weight: 900;
        color: #ff614d;
        margin-bottom: .2em; }
      #detalleBox .birraData_info h5 {
        font-family: "Nunito", serif;
        font-size: 1.8em;
        font-weight: 700;
        color: #9ffcfd;
        margin-bottom: .2em; }
      #detalleBox .birraData_info p {
        color: #ffffff;
        font-size: 1.4em;
        font-family: "Nunito", serif;
        font-weight: 400; }
      #detalleBox .birraData_info div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center; }
        #detalleBox .birraData_info div figure img {
          width: auto;
          height: 2em; }
        #detalleBox .birraData_info div div figure img {
          width: auto;
          height: 2em; }

#otrasSubs {
  background-image: url(../public/backgrounds/gareth_david_desktop_neon_violetcian.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  padding: 5em 0em; }
  #otrasSubs .contenedorSubs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1200px;
    margin: auto; }
    #otrasSubs .contenedorSubs h3 {
      font-family: "Nunito", serif;
      color: #fdf46e;
      font-size: 2.5em;
      padding-top: 2em;
      font-weight: 700;
      text-align: center; }
    #otrasSubs .contenedorSubs div {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap; }
      #otrasSubs .contenedorSubs div .card_suscripcion {
        background-color: #030b15;
        border-radius: 2em;
        border: 0.2em solid #00ffff;
        box-shadow: 0 0 2em #00ffff;
        display: flex;
        flex-direction: row;
        margin: 3em;
        transition: ease-in-out 1s;
        width: 40em;
        padding: 1em; }
        #otrasSubs .contenedorSubs div .card_suscripcion figure img {
          height: 20em;
          margin: auto;
          display: block; }
        #otrasSubs .contenedorSubs div .card_suscripcion article {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: auto; }
          #otrasSubs .contenedorSubs div .card_suscripcion article h4 {
            font-family: "Nunito", serif;
            font-weight: 800;
            font-size: 3em;
            color: #00ffff;
            text-align: center; }
          #otrasSubs .contenedorSubs div .card_suscripcion article .descripcion {
            color: #ffffff;
            font-family: "Nunito", serif;
            font-weight: 500;
            font-style: normal;
            font-size: 1.5em;
            text-align: center; }
          #otrasSubs .contenedorSubs div .card_suscripcion article .precio {
            color: #fdf46e;
            font-family: "Nunito", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 4em;
            text-align: center;
            margin-bottom: 0; }
          #otrasSubs .contenedorSubs div .card_suscripcion article .botones {
            text-decoration: none;
            text-align: center;
            width: 8em;
            display: block;
            color: #fdf46e;
            font-family: "Nunito", serif;
            font-size: 1.7em;
            font-weight: 700;
            background-color: #030b15;
            border-radius: 1em;
            padding: .2em .5em;
            border: 0.2em outset #fdf46e;
            transition: .8s;
            margin: .5em; }
            #otrasSubs .contenedorSubs div .card_suscripcion article .botones:hover {
              box-shadow: 0em 0em 0.5em #00ffff; }
          #otrasSubs .contenedorSubs div .card_suscripcion article > a {
            color: #ffffff;
            font-family: "Nunito", serif;
            font-weight: 400;
            font-size: 1.6em;
            margin: .6em auto 1em auto; }
        #otrasSubs .contenedorSubs div .card_suscripcion:hover {
          transform: translateY(-5%); }

#regalo {
  background-image: url(../public/backgrounds/gareth_david_desktop_neon_cian.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  #regalo figure img {
    height: 40em;
    width: auto; }
  #regalo .textoRegalo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 40em; }
    #regalo .textoRegalo h5 {
      font-family: "Nunito", serif;
      font-size: 3em;
      font-weight: 900;
      color: #ff614d;
      margin-bottom: .2em; }
    #regalo .textoRegalo p {
      font-family: "Nunito", serif;
      font-size: 1.8em;
      font-weight: 700;
      color: #9ffcfd;
      margin-bottom: .2em; }
    #regalo .textoRegalo .botones {
      text-decoration: none;
      text-align: center;
      width: 8em;
      display: block;
      color: #fdf46e;
      font-family: "Nunito", serif;
      font-size: 1.7em;
      font-weight: 700;
      background-color: #030b15;
      border-radius: 1em;
      padding: .2em .5em;
      border: 0.2em outset #fdf46e;
      transition: .8s;
      margin: .5em; }
      #regalo .textoRegalo .botones:hover {
        box-shadow: 0em 0em 0.5em #00ffff; }

@media screen and (max-width: 702px) {
  .hero .data_detalle_hero {
    width: 30em; }
  #detalleBox {
    background-image: url(../public/backgrounds/gareth_david_mobile_neon_violet.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly; }
    #detalleBox h3 {
      font-family: "Nunito", serif;
      color: #fdf46e;
      font-size: 2.5em;
      padding-top: 2em;
      font-weight: 700;
      text-align: center; }
    #detalleBox figure img {
      width: 20em; }
    #detalleBox .birraData.dos {
      display: flex;
      flex-direction: column-reverse; }
    #detalleBox .birraData {
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #detalleBox .birraData figure img {
        height: 28em;
        width: auto; }
      #detalleBox .birraData_info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
        max-width: 50em; }
        #detalleBox .birraData_info h4 {
          font-family: "Nunito", serif;
          font-size: 3em;
          font-weight: 900;
          color: #ff614d;
          margin-bottom: .2em;
          text-align: center; }
        #detalleBox .birraData_info h5 {
          font-family: "Nunito", serif;
          font-size: 1.8em;
          font-weight: 700;
          color: #9ffcfd;
          margin-bottom: .2em;
          text-align: center; }
        #detalleBox .birraData_info p {
          color: #ffffff;
          font-size: 1.4em;
          font-family: "Nunito", serif;
          font-weight: 400;
          text-align: center; }
        #detalleBox .birraData_info div {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center; }
          #detalleBox .birraData_info div figure img {
            width: auto;
            height: 2em; }
          #detalleBox .birraData_info div div figure img {
            width: auto;
            height: 2em; }
  #otrasSubs {
    background-image: url(../public/backgrounds/gareth_david_mobile_neon_violetcian.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    padding: 5em 0em; }
    #otrasSubs .contenedorSubs {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      max-width: 1200px;
      margin: auto; }
      #otrasSubs .contenedorSubs h3 {
        font-family: "Nunito", serif;
        color: #fdf46e;
        font-size: 2.5em;
        padding-top: 2em;
        font-weight: 700;
        text-align: center; }
      #otrasSubs .contenedorSubs div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center; }
        #otrasSubs .contenedorSubs div .card_suscripcion {
          background-color: #030b15;
          border-radius: 2em;
          border: 0.2em solid #00ffff;
          box-shadow: 0 0 2em #00ffff;
          display: flex;
          flex-direction: row;
          margin: 3em;
          transition: ease-in-out 1s;
          width: 40em;
          padding: 1em; }
          #otrasSubs .contenedorSubs div .card_suscripcion figure img {
            height: 25em;
            margin: auto;
            display: block; }
          #otrasSubs .contenedorSubs div .card_suscripcion article {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto; }
            #otrasSubs .contenedorSubs div .card_suscripcion article h4 {
              font-family: "Nunito", serif;
              font-weight: 800;
              font-size: 3em;
              color: #00ffff;
              text-align: center; }
            #otrasSubs .contenedorSubs div .card_suscripcion article .descripcion {
              color: #ffffff;
              font-family: "Nunito", serif;
              font-weight: 500;
              font-style: normal;
              font-size: 1.5em;
              text-align: center; }
            #otrasSubs .contenedorSubs div .card_suscripcion article .precio {
              color: #fdf46e;
              font-family: "Nunito", serif;
              font-weight: 400;
              font-style: normal;
              font-size: 4em;
              text-align: center;
              margin-bottom: 0; }
            #otrasSubs .contenedorSubs div .card_suscripcion article .botones {
              text-decoration: none;
              text-align: center;
              width: 8em;
              display: block;
              color: #fdf46e;
              font-family: "Nunito", serif;
              font-size: 1.7em;
              font-weight: 700;
              background-color: #030b15;
              border-radius: 1em;
              padding: .2em .5em;
              border: 0.2em outset #fdf46e;
              transition: .8s;
              margin: .5em; }
              #otrasSubs .contenedorSubs div .card_suscripcion article .botones:hover {
                box-shadow: 0em 0em 0.5em #00ffff; }
            #otrasSubs .contenedorSubs div .card_suscripcion article > a {
              color: #ffffff;
              font-family: "Nunito", serif;
              font-weight: 400;
              font-size: 1.6em;
              margin: .6em auto 1em auto; }
          #otrasSubs .contenedorSubs div .card_suscripcion:hover {
            transform: translateY(-5%); }
  #regalo {
    background-image: url(../public/backgrounds/gareth_david_mobile_neon_cian.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    #regalo figure img {
      height: 25em;
      width: auto; }
    #regalo .textoRegalo {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      width: 40em; }
      #regalo .textoRegalo h5 {
        font-family: "Nunito", serif;
        font-size: 3em;
        font-weight: 900;
        color: #ff614d;
        margin-bottom: .2em; }
      #regalo .textoRegalo p {
        font-family: "Nunito", serif;
        font-size: 1.8em;
        font-weight: 700;
        color: #9ffcfd;
        margin-bottom: .2em; }
      #regalo .textoRegalo .botones {
        text-decoration: none;
        text-align: center;
        width: 8em;
        display: block;
        color: #fdf46e;
        font-family: "Nunito", serif;
        font-size: 1.7em;
        font-weight: 700;
        background-color: #030b15;
        border-radius: 1em;
        padding: .2em .5em;
        border: 0.2em outset #fdf46e;
        transition: .8s;
        margin: .5em; }
        #regalo .textoRegalo .botones:hover {
          box-shadow: 0em 0em 0.5em #00ffff; } }

footer {
  background-color: #030b15;
  width: 100%;
  margin-bottom: 0; }
  footer .contenedor_info_footer {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 1em .5em; }
    footer .contenedor_info_footer .marca_redes {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      width: 70%; }
      footer .contenedor_info_footer .marca_redes_article {
        display: flex;
        flex-direction: column;
        align-items: center; }
        footer .contenedor_info_footer .marca_redes_article_figure {
          height: 4em;
          width: auto;
          overflow: hidden; }
          footer .contenedor_info_footer .marca_redes_article_figure img {
            height: 5em;
            width: auto; }
        footer .contenedor_info_footer .marca_redes_article_caption {
          color: #ffffff;
          font-family: "Montserrat", sans-serif;
          font-weight: 300;
          font-size: 1em; }
      footer .contenedor_info_footer .marca_redes_lista {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly; }
        footer .contenedor_info_footer .marca_redes_lista_item a img {
          width: auto;
          height: 2em;
          margin: 0 .3em; }
    footer .contenedor_info_footer .legales {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin: auto; }
      footer .contenedor_info_footer .legales li {
        margin: 1em 1em; }
        footer .contenedor_info_footer .legales li a {
          color: #ffffff;
          font-family: "Montserrat", sans-serif;
          font-weight: 200;
          font-size: 1em; }
    footer .contenedor_info_footer .pagos {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin-bottom: 0; }
      footer .contenedor_info_footer .pagos li {
        margin: 1em; }
        footer .contenedor_info_footer .pagos li img {
          height: 2em; }
    footer .contenedor_info_footer > p {
      color: #ffffff;
      font-family: "Montserrat", sans-serif;
      font-size: 1em;
      font-weight: 200;
      margin-top: 1em;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: auto;
      text-align: center; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  5% {
    opacity: 1; }
  7% {
    opacity: 0; }
  10% {
    opacity: 1; }
  13% {
    opacity: 0; }
  20% {
    opacity: 1; }
  25% {
    opacity: 1; }
  50% {
    opacity: 1; }
  75% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes parpadeo {
  0% {
    opacity: 0; }
  3% {
    opacity: 1; }
  6% {
    opacity: 0; }
  9% {
    opacity: 1; }
  10% {
    opacity: 0; }
  12% {
    opacity: 1; }
  20% {
    opacity: 0; }
  50% {
    opacity: 1; }
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes carga {
  0% {
    opacity: 1; }
  30% {
    opacity: 1; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    z-index: -1; } }

@keyframes truck {
  0% {
    transform: translateY(-2%) rotate(-2deg); }
  25% {
    transform: translateY(2%) rotate(1deg); }
  50% {
    transform: translateY(-2%) rotate(-2deg); }
  75% {
    transform: translateY(2%) rotate(1deg); }
  100% {
    transform: translateY(-2%) rotate(-2deg); } }

@keyframes rotateBox {
  0% {
    transform: rotate(1deg); }
  25% {
    transform: rotate(-1deg); }
  50% {
    transform: rotate(1deg); }
  75% {
    transform: rotate(-1deg); }
  100% {
    transform: rotate(1deg); } }
