*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  /* las medidas relativas sean iguales a las medidas en pixeles -- 10px=1em/1rem */ }

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #030b15;
  min-height: 100vh; }

ul {
  list-style-type: none;
  padding: 0; }

#presentacion {
  background-color: #030b15;
  position: absolute;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  animation: carga ease-in-out 4.7s;
  animation-fill-mode: forwards; }
  #presentacion img {
    height: 8em;
    margin: auto;
    display: block;
    animation-name: parpadeo;
    animation-duration: 4s;
    animation-delay: .5s;
    animation-iteration-count: initial; }

#presentacion h1 {
  text-align: center;
  padding-top: 350px;
  color: #9ffcfd;
  font-family: "Nunito", serif;
  font-weight: 700;
  font-size: 3em;
  margin: 0px 25px 0px 25px; }

::web-kit-scrollbar {
  width: 0; }

#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.05); }

#progressbar {
  position: fixed;
  top: 7em;
  right: 0;
  width: 10px;
  background: linear-gradient(to top, #00ffff, #9a39ca);
  animation: animate 5s linear infinite; }
  #progressbar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #00ffff, #9a39ca);
    filter: blur(10px); }
  #progressbar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #00ffff, #9a39ca);
    filter: blur(30px); }

.header {
  background-color: #030b15;
  z-index: 1;
  box-shadow: 0em .3em 1em #00ffff80;
  height: 7em;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; }
  .header .contenedor_menu_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto; }
    .header .contenedor_menu_header #logo {
      line-height: 7em; }
      .header .contenedor_menu_header #logo .logo img {
        height: 6em;
        animation-name: aparecer;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-delay: 1s;
        transition: ease-in-out; }
        .header .contenedor_menu_header #logo .logo img:hover {
          animation-iteration-count: unset; }
    .header .contenedor_menu_header #navbar .nav {
      display: flex; }
      .header .contenedor_menu_header #navbar .nav-link {
        color: #00ffff;
        font-family: "Nunito", serif;
        font-weight: 700;
        font-size: 1.8em;
        text-decoration: none;
        line-height: 3em;
        opacity: 30%;
        transition: 1s; }
        .header .contenedor_menu_header #navbar .nav-link .user {
          width: auto;
          height: 3em; }
        .header .contenedor_menu_header #navbar .nav-link:hover {
          opacity: 100%;
          text-shadow: 0.2em 0.2em 0.5em #00ffff; }
      .header .contenedor_menu_header #navbar .nav-menu {
        display: flex;
        flex-direction: row;
        margin-bottom: 0; }
        .header .contenedor_menu_header #navbar .nav-menu-item {
          margin: 0 1em; }
      .header .contenedor_menu_header #navbar .nav-toggle {
        background: none;
        border: none;
        display: none;
        cursor: pointer; }
        .header .contenedor_menu_header #navbar .nav-toggle .btn_menu {
          height: 4em;
          width: auto; }

/*responsive 780*/
@media screen and (max-width: 780px) {
  .header {
    height: 6em; }
    .header .contenedor_menu_header #logo {
      line-height: 6em; }
      .header .contenedor_menu_header #logo .logo img {
        height: 5em; }
    .header .contenedor_menu_header #navbar .nav-link {
      font-size: 2em;
      opacity: 70%; }
      .header .contenedor_menu_header #navbar .nav-link .user {
        width: auto;
        height: 4em; }
      .header .contenedor_menu_header #navbar .nav-link:hover {
        opacity: 100%; }
    .header .contenedor_menu_header #navbar .nav-menu {
      display: flex;
      flex-direction: column;
      margin-right: 2em;
      position: fixed;
      top: 6em;
      left: 0;
      width: 100%;
      align-items: center;
      padding: 2em 0;
      background-color: #030b159a;
      height: calc(100% - 6em);
      overflow-y: auto;
      left: 150%;
      transition: left .6s; }
      .header .contenedor_menu_header #navbar .nav-menu-item {
        margin: 1em auto; }
    .header .contenedor_menu_header #navbar .nav-toggle {
      display: block; }
    .header .contenedor_menu_header #navbar .nav .nav-menu_visible {
      left: 0%; } }

#home {
  background-image: url(../public/backgrounds/gareth_david_desktop_neon_cian.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5.6em; }
  #home .hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: auto; }
    #home .hero_imagen {
      margin-bottom: 0; }
      #home .hero_imagen img {
        height: 60em; }
    #home .hero_data {
      width: 45em; }
      #home .hero_data h2 {
        font-family: "Nunito", serif;
        font-size: 4.5em;
        font-weight: 700;
        color: #9ffcfd;
        margin-bottom: .2em; }
        #home .hero_data h2 em {
          font-weight: 900;
          font-style: normal;
          text-transform: uppercase; }
      #home .hero_data h4 {
        font-family: "Nunito", serif;
        font-size: 1.8em;
        font-weight: 400;
        color: #00ffff;
        margin-bottom: 2em; }
        #home .hero_data h4 em {
          font-weight: 800;
          font-style: normal; }
      #home .hero_data .botones {
        text-decoration: none;
        text-align: center;
        width: 8em;
        display: block;
        color: #fdf46e;
        font-family: "Nunito", serif;
        font-size: 2em;
        font-weight: 700;
        background-color: #030b15;
        border-radius: 1em;
        padding: .2em .5em;
        border: 0.2em outset #fdf46e;
        transition: .8s; }
        #home .hero_data .botones:hover {
          box-shadow: 0em 0em 0.5em #00ffff; }

/*RESPONSIVE 1080*/
@media screen and (max-width: 1080px) {
  #home .hero .hero_imagen img {
    height: 50em; }
  #home .hero .hero_data {
    width: 35em; }
    #home .hero .hero_data h2 {
      font-size: 3.5em; }
    #home .hero .hero_data h4 {
      font-size: 1.4em; }
    #home .hero .hero_data .botones {
      font-size: 1.8em; } }

/*RESPONSIVE 980*/
@media screen and (max-width: 980px) {
  #home .hero .hero_imagen img {
    height: 40em; }
  #home .hero .hero_data {
    width: 30em; }
    #home .hero .hero_data h2 {
      font-size: 3em; }
    #home .hero .hero_data h4 {
      font-size: 1.2em; }
    #home .hero .hero_data .botones {
      font-size: 1.4em; } }

/*RESPONSIVE 702*/
@media screen and (max-width: 702px) {
  #home {
    background-image: url(../public/backgrounds/gareth_david_mobile_neon_cian.jpg); }
  #home .hero .hero_imagen img {
    height: 40em; }
  #home .hero .hero_data {
    width: 30em;
    padding-bottom: 1.5em; }
    #home .hero .hero_data h2 {
      font-size: 3em;
      text-align: center; }
    #home .hero .hero_data h4 {
      font-size: 1.2em;
      text-align: center;
      margin-bottom: 1.5em; }
    #home .hero .hero_data .botones {
      text-align: center;
      margin: auto;
      font-size: 1.6em; } }

/*RESPONSIVE 420*/
@media screen and (max-width: 420px) {
  #home {
    background-image: url(../public/backgrounds/gareth_david_mobile_neon_cian.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
    #home .hero .hero_imagen img {
      height: 30em; } }

#envio {
  background-image: url(../../public/backgrounds/gareth_david_desktop_neon_cianviolet.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  #envio h3 {
    font-family: "Nunito", serif;
    color: #fdf46e;
    font-size: 2.5em;
    padding-top: .5em;
    font-weight: 700;
    text-align: center; }
  #envio article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1em;
    margin: auto;
    max-width: 1200px; }
    #envio article .card_envio picture img {
      width: 25em; }
    #envio article .card_envio picture .truck {
      animation-name: truck;
      animation-duration: 1.5s;
      animation-iteration-count: infinite; }
    #envio article .card_envio picture .openBox {
      animation-name: rotateBox;
      animation-duration: 3s;
      animation-iteration-count: infinite; }
    #envio article .card_envio_descripcion {
      color: #ffffff;
      font-family: "Nunito", serif;
      font-size: 1.8em;
      font-weight: 600;
      text-align: center;
      width: 10em;
      margin: auto; }

#birras {
  background-image: url(../../public/backgrounds/gareth_david_desktop_neon_violet.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  #birras article {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto; }
    #birras article div:first-child {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      #birras article div:first-child picture img {
        height: 20em;
        animation-name: aparecer;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        transition: ease-in;
        animation-delay: 1s; }
    #birras article div:last-child ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 0; }
      #birras article div:last-child ul li picture img {
        height: 40em;
        transition: 1s;
        opacity: 60%;
        filter: blur(1px); }
        #birras article div:last-child ul li picture img:hover {
          transform: scale(130%) translate(0%, -10%);
          opacity: 100%;
          filter: blur(0px); }

/*RESPONSIVE 1080*/
@media screen and (max-width: 1080px) {
  #envio article .card_envio picture img {
    width: 20em; }
  #envio article .card_envio_descripcion {
    font-size: 1.6em; }
  #birras article div:first-child picture img {
    height: 20em; }
  #birras article div:last-child ul li picture img {
    height: 35em; } }

/*RESPONSIVE 980*/
@media screen and (max-width: 980px) {
  #birras article div:last-child ul li picture img {
    height: 30em; } }

/*RESPONSIVE 702*/
@media screen and (max-width: 702px) {
  #envio {
    background-image: url(../../public/backgrounds/gareth_david_mobile_neon_cianviolet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    #envio article .card_envio picture img {
      width: 17em; }
    #envio article .card_envio_descripcion {
      font-size: 1.4em; }
  #birras {
    background-image: url(../../public/backgrounds/gareth_david_mobile_neon_violet.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
    #birras article div:first-child picture img {
      height: 10em; }
    #birras article div:last-child ul {
      overflow-x: scroll;
      overflow-y: hidden;
      justify-content: flex-start; }
      #birras article div:last-child ul li picture img {
        height: 24em; }
        #birras article div:last-child ul li picture img:hover {
          transform: scale(105%); } }

/*RESPONSIVE 420*/
@media screen and (max-width: 420px) {
  #envio {
    background-image: url(../../public/backgrounds/gareth_david_mobile_neon_cianviolet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left; }
    #envio h3 {
      padding-top: 2em;
      font-size: 1.8em; }
    #envio article .card_envio picture img {
      width: 17em; }
    #envio article .card_envio_descripcion {
      font-size: 1.4em; }
  #birras {
    background-image: url(../../public/backgrounds/gareth_david_mobile_neon_violet.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
    #birras article div:first-child picture img {
      height: 10em; }
    #birras article div:last-child ul {
      overflow-x: scroll;
      justify-content: flex-start;
      padding-left: 10em; }
      #birras article div:last-child ul li picture img {
        height: 25em; }
        #birras article div:last-child ul li picture img:hover {
          transform: scale(110%) translate(0%, 1%); } }

#marcas .marcas_contenedor ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0;
  padding: .5em 0; }
  #marcas .marcas_contenedor ul .marcas_logos a .marcas_logos_imagen {
    height: 5em;
    padding: .8em; }

@media screen and (max-width: 702px) {
  #marcas .marcas_contenedor ul .marcas_logos a .marcas_logos_imagen {
    height: 4em;
    padding: 0.8em; } }

@media screen and (max-width: 420px) {
  #marcas .marcas_contenedor ul .marcas_logos a .marcas_logos_imagen {
    height: 3em;
    padding: 0.5em; } }

#suscripciones {
  background-image: url(../../public/backgrounds/gareth_david_desktop_neon_violet.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 6.5em;
  padding-bottom: 6.5em; }
  #suscripciones h2 {
    color: #00ffff;
    font-family: "Nunito", serif;
    font-weight: 700;
    font-size: 3em;
    margin: auto auto 1em auto;
    text-align: center; }
  #suscripciones article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    max-width: 1200px; }
    #suscripciones article .card_suscripcion {
      background-color: #030b15;
      border-radius: 2em;
      border: 0.2em solid #00ffff;
      box-shadow: 0 0 2em #00ffff;
      display: flex;
      flex-direction: column;
      margin: auto;
      transition: ease-in-out 1s;
      width: 27em; }
      #suscripciones article .card_suscripcion figure img {
        height: 25em;
        margin: auto;
        display: block; }
      #suscripciones article .card_suscripcion article {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto; }
        #suscripciones article .card_suscripcion article h4 {
          font-family: "Nunito", serif;
          font-weight: 800;
          font-size: 3em;
          color: #00ffff;
          text-align: center; }
        #suscripciones article .card_suscripcion article .descripcion {
          color: #ffffff;
          font-family: "Nunito", serif;
          font-weight: 500;
          font-style: normal;
          font-size: 1.5em;
          text-align: center; }
        #suscripciones article .card_suscripcion article .precio {
          color: #fdf46e;
          font-family: "Nunito", serif;
          font-weight: 400;
          font-style: normal;
          font-size: 4em;
          text-align: center;
          margin-bottom: 0; }
        #suscripciones article .card_suscripcion article .botones {
          text-decoration: none;
          text-align: center;
          width: 8em;
          display: block;
          color: #fdf46e;
          font-family: "Nunito", serif;
          font-size: 1.7em;
          font-weight: 700;
          background-color: #030b15;
          border-radius: 1em;
          padding: .2em .5em;
          border: 0.2em outset #fdf46e;
          transition: .8s;
          margin: .5em; }
          #suscripciones article .card_suscripcion article .botones:hover {
            box-shadow: 0em 0em 0.5em #00ffff; }
        #suscripciones article .card_suscripcion article > a {
          color: #ffffff;
          font-family: "Nunito", serif;
          font-weight: 400;
          font-size: 1.6em;
          margin: .6em auto 1em auto; }
      #suscripciones article .card_suscripcion:hover {
        transform: translateY(-5%); }

/*RESPONSIVE 1080*/
/*RESPONSIVE 980*/
/*RESPONSIVE 702*/
/*RESPONSIVE 420*/
#nosotros {
  background-image: url(../../public/backgrounds/gareth_david_desktop_neon_cianorange.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  #nosotros h2 {
    color: #00ffff;
    font-family: "Nunito", serif;
    font-size: 3em;
    font-weight: 800;
    text-align: center;
    margin: 1em auto; }
  #nosotros .contenedor_fundadores {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto; }
    #nosotros .contenedor_fundadores figure img {
      width: 65em; }
    #nosotros .contenedor_fundadores div img {
      width: 30em; }
  #nosotros .carrousel {
    width: 70%;
    max-width: 120em;
    background-color: lightblue;
    padding: 2em;
    margin: auto;
    overflow-x: hidden; }
    #nosotros .carrousel .grande {
      width: 300%;
      background-color: orange;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 2em;
      transition: all .5s ease;
      transform: translateX(0%); }
      #nosotros .carrousel .grande .img {
        width: calc( 100% / 3);
        background-color: lime;
        min-height: 25em;
        margin: 1em; }
        #nosotros .carrousel .grande .img a img {
          width: 12em; }
    #nosotros .carrousel .puntos {
      width: 100%;
      background-color: darkred;
      padding: .4em;
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center; }
      #nosotros .carrousel .puntos .punto {
        background-color: #030b15;
        height: 2em;
        width: 2em;
        margin: 1em;
        border-radius: 100%; }
        #nosotros .carrousel .puntos .punto.activo {
          background-color: #fdf46e;
          box-shadow: 0em 0em 0.5em #030b15; }

#contacto {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-image: url(../../public/backgrounds/gareth_david_desktop_neon_orange.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  #contacto .imgform {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    max-width: 1200px; }
    #contacto .imgform picture img {
      height: 45em; }
    #contacto .imgform form {
      width: 40em;
      background-color: #030b15;
      border-radius: 1em; }

#rey_master {
  background-image: url(../public/backgrounds/gareth_david_neon_cian.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  #rey_master picture img {
    height: 60em; }

#contenido picture img {
  width: 60em; }

footer {
  background-color: #030b15;
  width: 100%;
  margin-bottom: 0; }
  footer .contenedor_info_footer {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 1em .5em; }
    footer .contenedor_info_footer .marca_redes {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      width: 70%; }
      footer .contenedor_info_footer .marca_redes_article {
        display: flex;
        flex-direction: column;
        align-items: center; }
        footer .contenedor_info_footer .marca_redes_article_figure {
          height: 4em;
          width: auto;
          overflow: hidden; }
          footer .contenedor_info_footer .marca_redes_article_figure img {
            height: 5em;
            width: auto; }
        footer .contenedor_info_footer .marca_redes_article_caption {
          color: #ffffff;
          font-family: "Montserrat", sans-serif;
          font-weight: 300;
          font-size: 1em; }
      footer .contenedor_info_footer .marca_redes_lista {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly; }
        footer .contenedor_info_footer .marca_redes_lista_item a img {
          width: auto;
          height: 2em;
          margin: 0 .3em; }
    footer .contenedor_info_footer .legales {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin: auto; }
      footer .contenedor_info_footer .legales li {
        margin: 1em 1em; }
        footer .contenedor_info_footer .legales li a {
          color: #ffffff;
          font-family: "Montserrat", sans-serif;
          font-weight: 200;
          font-size: 1em; }
    footer .contenedor_info_footer .pagos {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin-bottom: 0; }
      footer .contenedor_info_footer .pagos li {
        margin: 1em; }
        footer .contenedor_info_footer .pagos li img {
          height: 2em; }
    footer .contenedor_info_footer > p {
      color: #ffffff;
      font-family: "Montserrat", sans-serif;
      font-size: 1em;
      font-weight: 200;
      margin-top: 1em;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: auto;
      text-align: center; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  5% {
    opacity: 1; }
  7% {
    opacity: 0; }
  10% {
    opacity: 1; }
  13% {
    opacity: 0; }
  20% {
    opacity: 1; }
  25% {
    opacity: 1; }
  50% {
    opacity: 1; }
  75% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes parpadeo {
  0% {
    opacity: 0; }
  3% {
    opacity: 1; }
  6% {
    opacity: 0; }
  9% {
    opacity: 1; }
  10% {
    opacity: 0; }
  12% {
    opacity: 1; }
  20% {
    opacity: 0; }
  50% {
    opacity: 1; }
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes carga {
  0% {
    opacity: 1; }
  30% {
    opacity: 1; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    z-index: -1; } }

@keyframes truck {
  0% {
    transform: translateY(-2%) rotate(-2deg); }
  25% {
    transform: translateY(2%) rotate(1deg); }
  50% {
    transform: translateY(-2%) rotate(-2deg); }
  75% {
    transform: translateY(2%) rotate(1deg); }
  100% {
    transform: translateY(-2%) rotate(-2deg); } }

@keyframes rotateBox {
  0% {
    transform: rotate(1deg); }
  25% {
    transform: rotate(-1deg); }
  50% {
    transform: rotate(1deg); }
  75% {
    transform: rotate(-1deg); }
  100% {
    transform: rotate(1deg); } }

@keyframes animate {
  0%,
  100% {
    filter: hue-rotate(0deg); }
  50% {
    filter: hue-rotate(360deg); } }
