*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  /* las medidas relativas sean iguales a las medidas en pixeles -- 10px=1em/1rem */ }

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #030b15;
  min-height: 100vh; }

ul {
  list-style-type: none;
  padding: 0; }

#presentacion {
  background-color: #17214c;
  position: absolute;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  animation: carga ease 3s;
  animation-fill-mode: forwards; }

#presentacion h1 {
  text-align: center;
  padding-top: 350px;
  color: #00ffff;
  font-family: "Nunito", serif;
  font-weight: 400;
  font-size: 4em;
  text-shadow: .2em .2em 2em #00ffff;
  margin: 0px 25px 0px 25px; }

.header {
  background-color: #030b15;
  z-index: 1;
  box-shadow: 0em .3em 1em #00ffff80;
  height: 7em;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; }
  .header .contenedor_menu_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto; }
    .header .contenedor_menu_header #logo {
      line-height: 7em; }
      .header .contenedor_menu_header #logo .logo img {
        height: 6em;
        animation-name: aparecer;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-delay: 1s;
        transition: ease-in-out; }
        .header .contenedor_menu_header #logo .logo img:hover {
          animation-iteration-count: unset; }
    .header .contenedor_menu_header #navbar .nav {
      display: flex; }
      .header .contenedor_menu_header #navbar .nav-link {
        color: #00ffff;
        font-family: "Nunito", serif;
        font-weight: 700;
        font-size: 1.8em;
        text-decoration: none;
        line-height: 3em;
        opacity: 20%;
        transition: 1s; }
        .header .contenedor_menu_header #navbar .nav-link .user {
          width: auto;
          height: 3em; }
        .header .contenedor_menu_header #navbar .nav-link:hover {
          opacity: 100%;
          text-shadow: 0.2em 0.2em 0.5em #00ffff; }
      .header .contenedor_menu_header #navbar .nav-menu {
        display: flex;
        flex-direction: row;
        margin-right: 4em;
        margin-bottom: 0; }
        .header .contenedor_menu_header #navbar .nav-menu-item {
          margin: 0 1em; }
      .header .contenedor_menu_header #navbar .nav-toggle {
        background: none;
        border: none;
        display: none;
        cursor: pointer; }
        .header .contenedor_menu_header #navbar .nav-toggle .btn_menu {
          height: 4em;
          width: auto; }

/*responsive 780*/
@media screen and (max-width: 780px) {
  .header {
    height: 6em; }
    .header .contenedor_menu_header #logo {
      line-height: 6em; }
      .header .contenedor_menu_header #logo .logo img {
        height: 5em; }
    .header .contenedor_menu_header #navbar .nav-link {
      font-size: 2em;
      opacity: 70%; }
      .header .contenedor_menu_header #navbar .nav-link .user {
        width: auto;
        height: 4em; }
      .header .contenedor_menu_header #navbar .nav-link:hover {
        opacity: 100%; }
    .header .contenedor_menu_header #navbar .nav-menu {
      display: flex;
      flex-direction: column;
      margin-right: 2em;
      position: fixed;
      top: 6em;
      left: 0;
      width: 100%;
      align-items: center;
      padding: 2em 0;
      background-color: #030b159a;
      height: calc(100% - 6em);
      overflow-y: auto;
      left: 150%;
      transition: left .6s; }
      .header .contenedor_menu_header #navbar .nav-menu-item {
        margin: 1em auto; }
    .header .contenedor_menu_header #navbar .nav-toggle {
      display: block; }
    .header .contenedor_menu_header #navbar .nav .nav-menu_visible {
      left: 0%; } }

#home {
  background-image: url(../public/backgrounds/gareth_david_neon_cian.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5.6em; }
  #home .hero {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 2em auto;
    width: 90%; }
    #home .hero .hero_imagen img {
      height: 60em; }
    #home .hero .hero_data h2 {
      color: #ffffff;
      font-family: "Nunito", serif;
      font-weight: 400;
      font-size: 5em;
      width: 9em;
      margin-bottom: 0; }
      #home .hero .hero_data h2 em {
        font-weight: 900;
        font-style: normal; }
    #home .hero .hero_data h3 {
      color: #99feff;
      font-family: "Nunito", serif;
      font-weight: 600;
      font-size: 1.8em;
      margin-bottom: 3em;
      margin-top: 2em;
      width: 40rem; }
      #home .hero .hero_data h3 > em {
        font-weight: 700;
        font-style: normal;
        font-variant: small-caps; }
    #home .hero .hero_data .botones {
      font-family: "Nunito", serif;
      font-size: 2.4em;
      font-weight: 800;
      font-style: normal;
      color: #fdf46e;
      text-decoration: none;
      background-color: #030b15;
      border-radius: 1em;
      border: 0.1em solid #00ffff;
      padding: .3em 1em; }

#envio h2 {
  font-family: "Nunito", serif;
  color: #00ffff;
  text-align: center; }

#envio article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1em; }
  #envio article .card_envio picture img {
    width: 25em; }
  #envio article .card_envio_descripcion {
    color: #ffffff;
    font-family: "Nunito", serif;
    font-size: 1.8em;
    font-weight: 600;
    text-align: center;
    width: 10em;
    margin: auto; }

#birras {
  background-image: url(../public/backgrounds/gareth_david_neon_violet.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  #birras article {
    display: flex;
    flex-direction: column; }
    #birras article div:first-child {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      #birras article div:first-child picture img {
        height: 25em;
        animation-name: aparecer;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        transition: ease-in;
        animation-delay: 1s; }
    #birras article div:last-child ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-end; }
      #birras article div:last-child ul li picture img {
        height: 40em; }

#marcas .marcas_contenedor ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0;
  padding: .5em 0; }
  #marcas .marcas_contenedor ul .marcas_logos a .marcas_logos_imagen {
    height: 5em;
    padding: .8em; }

#suscripciones {
  background-image: url(../public/backgrounds/markus_spiske.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 6.5em;
  padding-bottom: 6.5em; }
  #suscripciones h2 {
    color: #00ffff;
    font-family: "Nunito", serif;
    font-weight: 700;
    font-size: 3em;
    margin: auto auto 1em auto;
    text-align: center; }
  #suscripciones article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto; }
    #suscripciones article .card_suscripcion {
      background-color: #030b15;
      border-radius: 2em;
      border: 0.2em solid #00ffff;
      box-shadow: 0 0 2em #00ffff; }
      #suscripciones article .card_suscripcion figure img {
        height: 40em; }
      #suscripciones article .card_suscripcion h4 {
        font-family: "Nunito", serif;
        font-weight: 800;
        font-size: 3em;
        color: #00ffff;
        text-align: center; }
      #suscripciones article .card_suscripcion .descripcion {
        color: #ffffff;
        font-family: "Nunito", serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.5em;
        text-align: center; }
      #suscripciones article .card_suscripcion .precio {
        color: #fdf46e;
        font-family: "Nunito", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 4em;
        text-align: center; }

#contacto {
  background-image: url(../public/backgrounds/gareth_david_neon_orange.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  #contacto picture img {
    width: 50em; }

#rey_master {
  background-image: url(../public/backgrounds/gareth_david_neon_cian.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  #rey_master picture img {
    height: 60em; }

#contenido picture img {
  width: 60em; }

footer {
  background-color: #030b15;
  width: 100%;
  margin-bottom: 0; }
  footer .contenedor_info_footer {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 1em .5em; }
    footer .contenedor_info_footer .marca_redes {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      width: 70%; }
      footer .contenedor_info_footer .marca_redes_article {
        display: flex;
        flex-direction: column;
        align-items: center; }
        footer .contenedor_info_footer .marca_redes_article_figure {
          height: 4em;
          width: auto;
          overflow: hidden; }
          footer .contenedor_info_footer .marca_redes_article_figure img {
            height: 5em;
            width: auto; }
        footer .contenedor_info_footer .marca_redes_article_caption {
          color: #ffffff;
          font-family: "Montserrat", sans-serif;
          font-weight: 300;
          font-size: 1em; }
      footer .contenedor_info_footer .marca_redes_lista {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly; }
        footer .contenedor_info_footer .marca_redes_lista_item a img {
          width: auto;
          height: 2em;
          margin: 0 .3em; }
    footer .contenedor_info_footer .legales {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin: auto; }
      footer .contenedor_info_footer .legales li {
        margin: 1em 1em; }
        footer .contenedor_info_footer .legales li a {
          color: #ffffff;
          font-family: "Montserrat", sans-serif;
          font-weight: 200;
          font-size: 1em; }
    footer .contenedor_info_footer > p {
      color: #ffffff;
      font-family: "Montserrat", sans-serif;
      font-size: 1em;
      font-weight: 200;
      margin-top: 1em;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: auto;
      text-align: center; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  5% {
    opacity: 1; }
  7% {
    opacity: 0; }
  10% {
    opacity: 1; }
  13% {
    opacity: 0; }
  20% {
    opacity: 1; }
  25% {
    opacity: 1; }
  50% {
    opacity: 1; }
  75% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes parpadeo {
  0% {
    opacity: 1; }
  3% {
    opacity: 0; }
  6% {
    opacity: 1; }
  9% {
    opacity: 0; }
  10% {
    opacity: 1; }
  50% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes carga {
  0% {
    opacity: 1; }
  30% {
    opacity: 1; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    z-index: -1; } }
