#presentacion {
    background-color: #17214c;
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    animation: carga ease 3s;
    animation-fill-mode: forwards;
}

#presentacion h1 {
    text-align: center;
    padding-top: 350px;
    color: #00ffff;
    font-family: $font-primary;
    font-weight: 400;
    font-size: 4em;
    text-shadow: .2em .2em 2em #00ffff;
    margin: 0px 25px 0px 25px;
}

::web-kit-scrollbar{
    width: 0;
}

#scrollPath{
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.05);

}

#progressbar{
	position: fixed;
	top: 7em;
	right: 0;
	width: 10px;
	background: linear-gradient(to top, #00ffff, #9a39ca);
	animation: animate 5s linear infinite;

    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, #00ffff, #9a39ca);
    
        filter: blur(10px);
    }

    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, #00ffff, #9a39ca);
        filter: blur(30px);
    }
}