#presentacion {
    background-color: $principal;
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    animation: carga ease-in-out 4.7s;
    animation-fill-mode: forwards;

    & img{
        height: 8em;
        margin: auto;
        display: block;
        animation-name: parpadeo;
        animation-duration: 4s;
        animation-delay: .5s;
        animation-iteration-count: initial;
    }
}

#presentacion h1 {
    text-align: center;
    padding-top: 350px;
    color: $fourth;
    font-family: $font-primary;
    font-weight: 700;
    font-size: 3em;
    margin: 0px 25px 0px 25px;
}

@media screen and (max-width: 420px){

    #presentacion h1 {
        text-align: center;
        padding-top: 300px;
        color: $fourth;
        font-family: $font-primary;
        font-weight: 700;
        font-size: 2em;
        margin: 0px 25px 0px 25px;
    }

    #presentacion img{
        height: 5em;
        margin: auto;
        display: block;
        animation-name: parpadeo;
        animation-duration: 4s;
        animation-delay: .5s;
        animation-iteration-count: initial;
    }
    
}