footer{
    background-color: #17214c;
    & p{
        color:#ffffff;
        margin-bottom: 0;
        margin: 1em;
    }
    & img{
        height: 4em;
    }
    & ul{
        display: flex;
        flex-direction: row;
        & li a img{
            width: 3em;
            height: auto;
        }
    }
}