footer{
    background-color: $principal;
    padding: 2em;
    & p{
        color:#ffffff;
        margin-bottom: 0;
        margin: 1em;
        text-align: center;
    }

    & div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        & img{
            height: 4.5em;
        }
    }
    & ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        & a{
            color: #ffffff;
        
            & img{
                width: 3em;
                height: auto;
            }
        }
    }
}

/* responsive a 320px*/
@media screen and (max-width: 320px) {
    

    
}