footer{
    background-color: #17214c;
    & p{
        color:#ffffff;
        margin-bottom: 0;
        margin: 1em;
        text-align: center;
    }
    & img{
        height: 4.5em;
    }
    & ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        & a{
            color: #ffffff;
        
            & img{
                width: 3em;
                height: auto;
            }
        }
    }
}