#contacto{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-image: url(../public/backgrounds/gareth_david_desktop_neon_orange.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 6.5em;
    padding-bottom: 3.5em;

    & h2{
        color: $secondary;
        font-family: $font-primary;
        font-weight: 700;
        font-size: 3em;
        margin: auto auto 1em auto;
        text-align: center;
        padding: .5em;
    }

    .imgform{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin: auto;
        max-width: 1200px;
        & picture img{
            height: 45em;
        }
        & form{
            width: 40em;
            background-color: $principal;
            border-radius: 1em;
            box-shadow: 0em 0em 2em $secondary;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
            padding: 4em 3em;

            & .form-row{
                margin: auto;
            }
            & .form-group{
                width: 30em;
                margin: auto;
                .form-check{
                    margin: auto;
                    &>label{
                        font-family: $font-primary;
                        font-size: 1em;
                        color: #ffffff;
                        font-weight: 400;
                    }
                }
            }

            & .form-group>label{
                font-family: $font-primary;
                color: $fifth;
                font-weight: 400;
                font-size: 1.4em;
            }

            & .form-control{
                display: block;
                width: 100%;
                padding: 0.3rem 0.7rem;
                font-family: $secondary;
                font-style: italic;
                font-size: 1.2em;
                font-weight: 400;
                line-height: 1.5;
                margin-bottom: 1em;
                color: $principal;
                background-color: #ffffff;
                // background-clip: padding-box;
                border: 1px solid $secondary;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                border-radius: 0.3rem;
                transition: border-color .5s ease-in-out,box-shadow .15s ease-in-out;
            }

            & .botones{
                text-decoration: none;
                text-align: center;
                width: 8em;
                display: block;
                color: $fifth;
                font-family: $font-primary;
                font-size: 1.7em;
                font-weight: 700;
                background-color: $principal;
                border-radius: 1em;
                padding: .2em .5em;
                border: .2em outset $fifth;
                transition: .8s;
                margin: auto;
                &:hover{
                    box-shadow: 0em 0em .5em $secondary;
                }
            }
        }
    }
}

@media screen and (max-width: 420px){
    .imgform{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        & picture img{
            display: none;
        }
    }
}