#nosotros{
    background-image: url(../public/backgrounds/gareth_david_desktop_neon_violetcian.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    padding-top: 6.5em;
    padding-bottom: 6.5em;

    & h2{
        color: $secondary;
        font-family: $font-primary;
        font-size: 3em;
        font-weight: 700;
        text-align: center;
        margin: auto auto 1em auto;
        padding-top: 2em;
        padding: .5em;
    }

    & .contenedor_fundadores{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        max-width: 1200px;
        & figure{
            box-shadow: 0em .1em .5em $secondary;
            width: 60%;
            & img{
                width: 100%;
            }
        }

        & div{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            max-width: 80em;

            & img{
                width: 25em;
            }

            & .texto_fundadores{
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                & p{
                    text-align: left;
                    font-family: $font-primary;
                    font-size: 1.6em;
                    font-weight: 300;
                    color: #ffffff;
                    width: 90%;

                    &>a{
                        color: $thirdly;
                        font-weight: 500;
                    }
                }
                & .botones{
                    text-decoration: none;
                    text-align: center;
                    width: 8em;
                    display: block;
                    color: $fifth;
                    font-family: $font-primary;
                    font-size: 1.7em;
                    font-weight: 700;
                    background-color: $principal;
                    border-radius: 1em;
                    padding: .2em .5em;
                    border: .2em outset $fifth;
                    transition: .8s;
                    margin: .5em;

                    &:hover{
                        box-shadow: 0em 0em .5em $secondary;
                    }
                }
            }
        }
    }
}

#comunidad{
    background-image: url(../public/backgrounds/gareth_david_desktop_neon_cianorange.jpg);
    background-repeat: repeat;
    background-size: contain;
    & h3{
        font-family: $font-primary;
        color: $fifth;
        font-size: 2.5em;
        padding-top: .5em;
        font-weight: 700;
        text-align: center;
    }

    & h4{
        color: #ffffff;
        text-align: center;
        font-family: $font-primary;
        font-size: 1.8em;
        font-weight: 400;
        & a{
            color: $secondary;
            font-weight: 600;
            font-size: 1.8rem;
            font-family: $font-primary;
        }
    }

    & .carrousel{
        width: 60%;
        height: 55em;
        max-width: 120em;
        // padding: 2em;
        margin: auto;
        overflow-x: hidden;


        .grande{
            width: 300%;
            // background-color: orange;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            padding-top: 1em;
        
            transition: all .5s ease;
            transform: translateX(0%);

            .img{
                width: calc( 100% / 3 );
                // background-color: lime;
                min-height: 25em;
                height: 44em;
                margin: .5em;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                &:first-child>a img{
                    width: 25.5em;
                }
                &:last-child a img{
                    width: 20em;
                    height: auto;
                }
                &>div{
                    display: flex;
                    flex-direction: column;
                }
                & a{
                    text-decoration: none;
                    margin: 0;
                    text-align: center;
                    & img{
                        width: 25em;
                        margin: .5em;
                        padding: 2em .5em;
                        background-color: #ffffff;
                        border-radius: .8em;
                        transition: 1s;

                        &:hover{
                            box-shadow: 0em 0em .3em $secondary;
                            transform: scale(115%);
                        }
                    }
                }
            }
        }

        .puntos{
            width: 100%;
            // background-color: darkred;
            padding: 0em;
            list-style: none;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;

            .punto{
                background-color: $principal;
                height: 1.8em;
                width: 1.8em;
                margin: 1em;
                border-radius: 100%;

                &.activo{
                    background-color: $fifth;
                    box-shadow: 0em 0em .5em $secondary;
                }
            }
        }
    }
}

@media screen and (max-width: 780px){
    #nosotros{
        background-image: url(../public/backgrounds/gareth_david_mobile_neon_violet.jpg);
        background-position: center;
    }
}