#suscripciones{
    background-image: url(../public/backgrounds/gareth_david_desktop_neon_violet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 6.5em;
    padding-bottom: 6.5em;
    & h2{
        color: $secondary;
        font-family: $font-primary;
        font-weight: 700;
        font-size: 3em;
        margin: auto auto 1em auto;
        text-align: center;
        padding: .5em;
    }
    & article{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: auto;
        max-width: 1200px;
        & .card_suscripcion{
            background-color: $principal;
            border-radius: 2em;
            border: .2em solid $secondary;
            box-shadow: 0 0 2em $secondary;
            display: flex;
            flex-direction: column;
            margin: auto;
            transition: ease-in-out 1s;
            width: 27em;
            height: 52em;

            & figure img{
                height: 25em;
                margin: auto;
                display: block;
            }
            & article{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: auto;

                & h4{
                    font-family: $font-primary;
                    font-weight: 800;
                    font-size: 3em;
                    color: $secondary;
                    text-align: center;
                }
                & .descripcion{
                    color: #ffffff;
                    font-family: $font-primary;
                    font-weight: 500;
                    font-style: normal;
                    font-size: 1.5em;
                    text-align: center;
                }
                & .precio{
                    color: $fifth;
                    font-family: $font-primary;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 4em;
                    text-align: center;
                    margin-bottom: 0;
                }
                
                & .botones{
                    text-decoration: none;
                    text-align: center;
                    width: 8em;
                    display: block;
                    color: $fifth;
                    font-family: $font-primary;
                    font-size: 1.7em;
                    font-weight: 700;
                    background-color: $principal;
                    border-radius: 1em;
                    padding: .2em .5em;
                    border: .2em outset $fifth;
                    transition: .8s;
                    margin: .5em;
                    &:hover{
                        box-shadow: 0em 0em .5em $secondary;
                    }
                }

                &>a{
                    color: #ffffff;
                    font-family: $font-primary;
                    font-weight: 400;
                    font-size: 1.6em;
                    margin: .6em auto 1em auto;
                }
            }

            &:hover{
                transform: translateY(-5%);
            }
        }
    }
}

/*RESPONSIVE 1080*/
@media screen and(max-width: 1080px){
    #suscripciones {
        & h2{
        margin: auto auto 1.5em auto;
        }
        & article .card_suscripcion{
            width: 25em;
            height: 50em;
        }
    }
}

/*RESPONSIVE 980*/
@media screen and(max-width: 980px){
    & article{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: auto;
        max-width: 1200px;
        & .card_suscripcion{

            background-color: $principal;
            border-radius: 2em;
            border: .2em solid $secondary;
            box-shadow: 0 0 2em $secondary;
            display: flex;
            flex-direction: column;
            margin: auto;
            transition: ease-in-out 1s;
            width: 27em;
            height: 52em;

            & figure img{
                height: 25em;
                margin: auto;
                display: block;
            }
            & article{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: auto;

                & h4{
                    font-family: $font-primary;
                    font-weight: 800;
                    font-size: 3em;
                    color: $secondary;
                    text-align: center;
                }
                & .descripcion{
                    color: #ffffff;
                    font-family: $font-primary;
                    font-weight: 500;
                    font-style: normal;
                    font-size: 1.5em;
                    text-align: center;
                }
                & .precio{
                    color: $fifth;
                    font-family: $font-primary;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 4em;
                    text-align: center;
                    margin-bottom: 0;
                }
                
                & .botones{
                    text-decoration: none;
                    text-align: center;
                    width: 8em;
                    display: block;
                    color: $fifth;
                    font-family: $font-primary;
                    font-size: 1.7em;
                    font-weight: 700;
                    background-color: $principal;
                    border-radius: 1em;
                    padding: .2em .5em;
                    border: .2em outset $fifth;
                    transition: .8s;
                    margin: .5em;
                    &:hover{
                        box-shadow: 0em 0em .5em $secondary;
                    }
                }
            }
        }
    }

}

/*RESPONSIVE 702*/
@media screen and(max-width: 702px){
    #suscripciones{
        background-image: url(../public/backgrounds/gareth_david_mobile_neon_violet.jpg);
    }
    
}
