#suscripciones{
    background-image: url(../public/backgrounds/markus_spiske.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 6.5em;
    padding-bottom: 6.5em;
    & h2{
        color: $secondary;
        font-family: $font-primary;
        font-weight: 700;
        font-size: 3em;
        margin: auto auto 1em auto;
        text-align: center;
    }
    & article{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: auto;
        & .card_suscripcion{
            background-color: $principal;
            border-radius: 2em;
            box-shadow: 0 0 2em $secondary;
            & figure img{
                height: 40em;
            }
        }
    }
}