@keyframes aparecer{
    0%{
        opacity: 0;
    }
    5%{
        opacity: 1;
    }
    7%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    13%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

@keyframes parpadeo{
    0%{
        opacity: 0;
    }
    3%{
        opacity: 1;
    }
    6%{
        opacity: 0;
    }
    9%{
        opacity: 1;
    }
    10%{
        opacity: 0;
    }
    12%{
        opacity: 1;
    }
    20%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes carga{
    0%{
        opacity: 1;
    }
    30%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        z-index: -1;
    }
}

@keyframes truck{
    0%{
        transform: translateY(-2%) rotate(-2deg);
    }
    25%{
        transform: translateY(2%) rotate(1deg);
    }
    50%{
        transform: translateY(-2%) rotate(-2deg);
    }
    75%{
        transform: translateY(2%) rotate(1deg);
    }
    100%{
        transform: translateY(-2%) rotate(-2deg);
    }
}

@keyframes rotateBox{
    0%{
        transform: rotate(1deg);
    }
    
    25%{
        transform: rotate(-1deg);
    }

    50%{
        transform: rotate(1deg);
    }
    75%{
        transform: rotate(-1deg);
    }
    100%{
        transform: rotate(1deg);
    }
}
@keyframes animate{
	0%,
    100%{
		filter: hue-rotate(0deg);
	}
	50%{
		filter: hue-rotate(360deg);
	}
}
